body {
  font-family: 'Roboto', sans-serif;
  background-color: #EDF2EF;
  color: #2E2E2E;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-container {
  background-color: #FFFFFF;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 350px;
  width: 90%;
}

h1 {
  margin-bottom: 20px;
  color: #57C4E5;
}

p {
  margin-bottom: 15px;
}

input {
  padding: 10px;
  border: 1px solid #9ED7C2;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 20px;
}

button {
  background-color: #57C4E5;
  color: #FFFFFF;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
}

.hidden {
  display: none;
  color: red;
  margin-top: 10px;
}

.error {
  display: block;
}
